<ul class="main_menu">
  <li class="main_menu_actions">
  <%#= link_to "My account", my_account_path, :title => "My account", :id => "my_account_link" %>
  <%#= link_to "Logout", destroy_user_session_path, :title => "Logout from system", :id => "logout_link" %>
  </li>
  <%= main_menu_link_to "Catalogues", catalogues_path %>
  <%= main_menu_link_to "Events", events_path %>  
</ul>